@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$backgroundColor: #000;

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 40px;
$mainFont: Montserrat, Verdana, Arial, sans-serif;
$headingFont: Montserrat, Verdana, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2e3191;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.5em;
$heading2Size: 1.3em;
$heading3Size: 1.1em;
$heading4Size: 1.0em;

@import "../../node_modules/reveal.js/css/theme/template/theme";

.reveal {
  .slides {
    background-color: #fff;
  }

  .slides > section,
  .slides > section > section {
    padding: 0;
  }

  section.has-dark-background {
  	&, h1, h2, h3, h4, h5, h6 {
  		color: #fff;
  	}
  }

  ol, dl, ul {
    display: block;
    li {
      margin-bottom: 0.5em;
    }
  }

  iframe {
    border: 0 none transparent;
  }

  section {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    a {
      color: black;
    }
    a,
    a:hover,
    a:focus,
    a:active {
      border-bottom: 4px solid #24abe2;
    }
    h1 {
      line-height: 2em;
      margin-bottom: 1em;
    }
    h1 + h2 {
      margin-top: -0.75em;
    }
    img {
      border: 0 none transparent;
      box-shadow: none;
    }
    .title {
      border-bottom: 15px solid #be1e2d;
      padding: 0 0 0.25em;
    }
    .feature {
      display: block;
      height: 900px;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
      width: 900px;
    }
    .feature-padding {
      height: 800px;
      padding: 50px;
      width: 800px;
    }
    .feature-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      height: 850px;
      padding: 25px 50px;
      width: 600px;
    }
    .red, .orange, .lime, .green, .blue, .indigo {
      color: white;
      h1, h2, h3, h4, h5, h6 {
        color: white;
      }
      a {
        color: white;
      }
    }
    .red {
      background-color: #be1e2d;
      .title {
        border-color: #f6921e;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #f6921e;
      }
    }
    .orange {
      background-color: #f6921e;
      .title {
        border-color: #be1e2d;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #be1e2d;
      }
    }
    .lime {
      background-color: #8dc53f;
      .title {
        border-color: #009345;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #009345;
      }
    }
    .green {
      background-color: #009345;
      .title {
        border-color: #8dc53f;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #8dc53f;
      }
    }
    .blue {
      background-color: #24abe2;
      .title {
        border-color: #2e3191;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #2e3191;
      }
    }
    .indigo {
      background-color: #2e3191;
      .title {
        border-color: #24abe2;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        border-bottom: 4px solid #24abe2;
      }
    }
    .small {
      font-size: 0.8em;
    }
    .left {
      text-align: left;
    }
  }
}
